.App {
  text-align: center;
  min-width: 400px;
  max-width: 700px;
  width: 100%;
  margin: 3rem auto;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.takeInput{
  background-color: #282c34;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: #fff;
  min-width: 300px;
  width: 60%;
  max-width: 700px;
  margin-bottom: 2rem;
}

.taskList{
  color: #fff;
  min-width: 300px;
  width: 50%;
  max-width: 700px;
  text-align: left;
  margin: auto;
  padding: 10px 0;
}
.taskItem{
  padding: 5px 3px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  gap: 5px;

}

.taskItem:hover{
  border-top: 0.5px solid #666;
  border-bottom: 0.5px solid #666;
}
.taskItem input{
  height: 22px;
  width: 22px;
}
.ruler{
  color: #666;
}
.completed{
  text-decoration: line-through;
}